asgiref~=3.7.2
Babel~=2.12.1
certifi~=2023.7.22
charset-normalizer~=3.2.0
Django~=4.2.1
django-modeladmin-reorder~=0.3.1
django-preferences~=1.0.0
idna~=3.2
pytz~=2023.3
requests~=2.31.0
sqlparse~=0.4.1
urllib3~=2.0.2
python-dotenv~=1.0.0
envparse~=0.2.0
pyrogram~=2.0.106
tgcrypto~=1.2.5
