{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block usertools %}
    <div id="user-tools-wrap">
        {{ block.super }}
        <form action="{% url 'set_language' %}" method="post" id="set_language">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <input name="language" type="hidden" id="language_input" />
            <button type="button" value="ru" class="btn-link btn-lang">Ru</button>
            <button type="button" value="en" class="btn-link btn-lang">En</button>
        </form>
        <script>
            const langForm = document.getElementById('set_language');
            const langButtons = langForm.querySelectorAll('button');
            langButtons.forEach((button) => {
                button.addEventListener('click', (e) => {
                    e.preventDefault();
                    document.getElementById('language_input').value = e.target.getAttribute('value');
                    langForm.submit();
                });
            });
        </script>
    </div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block extrastyle %}{{ block.super }}
<style>
    a { text-decoration: none !important; }
    .skip-to-content-link { display: none; }
    .btn-link {
        padding: 0;
        border: none;
        background: none;
        color: #f5dd5d;
        cursor: pointer;
    }
    .btn-lang {
        margin-right: 10px;
    }
    #user-tools-wrap {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    @media (max-width: 1024px) {
        #user-tools-wrap {
            flex-direction: column;
        }
        #set_language {
            margin-top: 10px;
        }
    }
    ol.compact {
        margin: 0;
        padding-inline-start: 16px;
    }
    .inline-group .tabular {
        & tr.has_original td {
            padding-top: 8px !important;
        }
        & .original {
            display: none;
        }
        & td {
            vertical-align: middle;
        }
        & .related-widget-wrapper {
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }
        & .delete div {
            display: flex;
            justify-content: start;
        }
    }
    .checkbox-row {
        flex-direction: row-reverse;
        justify-content: start;

        & label {
            padding: 4px 10px 6px 0 !important;
            width: 160px !important;
        }
        & input {
            margin: 0;
        }
    }
</style>
{% endblock %}
